<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/instruments/new.css" />
<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
  <p>Please first ensure that the Performer is not in the dropdown
    <select>
      <% instruments.forEach(function(instrument) { %>
        <option><%= instrument.name %></option>
      <% }) %>
    </select>
  </p>
  <form id="add-instrument-form" action="/instruments" method="POST">
    <label for="name-input">Instruments:</label>
    <input type="text" name="name" id="name-input">
    <button type="submit">Add Instruments</button>
  </form>
</main>

<%- include('../partials/footer') %>