<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/instruments/new.css" />
<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
  <p class="review-message">Please review the instruments the studio has avaiable beforehand:
    <select class="instrument-dropdown">
      <% instruments.forEach(function(instrument) { %>
        <option><%= instrument.name %></option>
      <% }) %>
    </select>
  </p>
    <div class="contact-message">
      <ul>If you have any special requests for instruments you don't see available in the drop down menu please feel free to contact us at:
        <li> Office Number: 551-555-5555 Ext: 5525</li>
        <li> glass_studios@thestudioforyou.com </li>
      </ul>
    </div>
</main>

<%- include('../partials/footer') %>