<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<main>
  <h1>My Sessions</h1>
  <table>
    <thead>
      <tr>
        <th>Rooms</th>
        <th>Drinks</th>
        <th>Snacks</th>
      </tr>
    </thead>
    <tbody>
      <% sessions.forEach(session => { %>
      <tr>
          <td><%= session.room %></td>
          <td><%= session.drinks %></td>
          <td><%= session.snacks %></td>
          <td><a href="/sessions/<%= session._id %>">DETAILS</a></td>
          <td>
            <form action="/sessions/ <%=session._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>