<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/sessions/index.css" />
<%- include('../partials/nav') %>


<main>
  <h1>My Sessions</h1>
  <% if (user) %>
  <table>
    <thead>
      <tr>
        <th>Rooms</th>
        <th>Drinks</th>
        <th>Snacks</th>
      </tr>
    </thead>
    <tbody>
      <% sessions.forEach(session => { %>
        <tr>
          <% if (session.personBooking.equals(user.profile._id)) { %>
            <td><%= session.room %></td>
            <td><%= session.drink %></td>
            <td><%= session.snack %></td>
          <td ><a href="/sessions/<%= session._id %>" class="detail-links">DETAILS</a></td> 
        </div>
          <td>
            <form action="/sessions/<%= session._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
    <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>